#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#services {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.img-radius{
  background-color: #ffe8b4;
  border-radius: 50%;
  height: 250px;
  object-fit: cover;
  width: 250px;
}


.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.service-description {
    color: #434343;
    text-align: center;
}

td, tr {
    text-align: center;
}

.dataTables_length {
    display: none;
}

.current {
    background-color: orange;
    border-radius: 5px !important;
    color: white !important;
}

.service-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1170px) {
    #services {
        flex-wrap: wrap;
        justify-content: center;
    }

    .service {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .service {
        width: 100%;
    }

    #menu .section-subtitle {
        text-align: center;
    }
} 